<div class="overall">
  <div class="devise_title">重新寄送確認信件</div>
  
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="our_field">
      <%= f.label :email, class:'devise_label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "devise_input" %>
    </div>
  
    <div class="include_submit">
      <%= f.submit "重新寄出確認信件", class: "devise_submit" %>
    </div>
  <% end %>
</div>
