<div class="overall">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="devise_title">註冊頁面</div>
    <div class="our_field">
      <%= f.label :用戶名稱 , class:'devise_label'%><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "email", placeholder: "請輸入英文或數字", class: "devise_input" %>
    </div>

    <div class="our_field">
      <%= f.label :電話 ,class:'devise_label'%><br />
      <%= f.text_field :tel, autofocus: true, autocomplete: "email", placeholder: "請輸入電話", class: "devise_input" %>
    </div>

    <div class="our_field">
      <%= f.label :email信箱 , class:'devise_label'%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請輸入有效email信箱", class: "devise_input" %>
    </div>

    <div class="our_field">
      <%= f.label :密碼, class:'devise_label' %>
      <% if @minimum_password_length %>
      (至少 <%= @minimum_password_length %> 位數英數字元)
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "請輸至少6位數英數字元", class: "devise_input" %>
    </div>

    <div class="our_field">
      <%= f.label :再次確認密碼, class:'devise_label' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再次確認密碼", class: "devise_input" %>
    </div>

    <div class="include_submit" >
      <%= f.submit "註冊帳號", class: "devise_submit" %>
    </div>

    <div class="devsie_cutline"></div>
    <span>你已經有帳號了嗎？</span>
    <div>
      <%= link_to "登入", new_session_path(resource_name), class:'devise_login' %>
    </div>
    <span>其他登入方式：</span>
    <div class="third_party">
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
        <div class="party_log"><i class="fab fa-google"></i> ｜ Google</div>
      <% end %>
      <%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
        <div class="party_log"><i class="fab fa-facebook"></i> ｜ Facebook</div>
      <% end %>
      <%= link_to user_github_omniauth_authorize_path, method: :post do %>
        <div class="party_log"><i class="fab fa-github"></i> ｜ Github</div>
      <% end %>
    </div>
  <% end %>
</div>