<div class="table">
  <div class="table-row">
    <span class="table-row-header">票券名稱</span>
    <span class="table-row-column">票價</span>
    <span class="table-row-column">剩餘數量</span>
    <span class="table-row-column">選擇張數</span>
  </div>
  <% tickets.each do |ticket|%>
  <div class="table-row">
    <span class="table-row-header"><%=ticket.name%></span>
    <span class="table-row-column"><%=ticket.price%></span>
    <span class="table-row-column"><%=ticket.amount%></span>
    <span class="table-row-column">
      <span class="table-row-add-sub"
            data-controller="events-count"
            data-action="click->events-count#less"
      >－</span>
      <input type="number" 
              class="table-row-input" 
              value="0" max="4" min="0" 
              data-ticket-id="<%= ticket.id%>">
      <span class="table-row-add-sub"
            data-controller="events-count"
            data-action="click->events-count#plus"
      >＋</span>
    </span>
  </div>
  <%end%>
    <%= link_to event_booking_index_path(params[:id]) do %>
      <div class="table-submit"
       data-controller="events-count" 
       data-action="click->events-count#buyTicket"
      >下一步</div>
    <% end %>
</div>