<h3 class="p-8 mb-5 border-2 border-gray-100 font-bold text-4xl">組織名稱: <span class="text-red-600 font-bold"><%= @organization.title%></span></h3>
  
<div class="apply_area w-11/12 px-8 m-auto">

  <div class="bg-gray-100 flex p-2 rounded-lg mb-5">
    <div class="text-red-600 font-mono font-bold shadow-2xl">設定活動資料</div>
    <div class="font-mono text-gray-400 font-bold ml-5 shadow-2xl">設定票種</div>
  </div>

  <%= form_for(@event) do |event| %>
  <div class="firstpage flex mb-8">
    <div class="apply_table w-1/2 pl-3">
      <%= event.hidden_field :organization_id, value: @organization.id %>
      <div class="event_name">
        <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :title, "活動名稱", class: "font-bold"%>
        <div class="controls"><%= event.text_field :title, class: "input w-5/6 rounded-lg" %></div>
      </div>
      <div class="controls ng-scope" ng-controller="FormDatetimeCtrl">
        <div class="py-1">
          <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :start_time, "活動開始時間", class: "font-bold" %>
          <div><%= event.datetime_field(:start_time, class: "border border-gray-400 rounded-lg w-5/6")%></div>
        </div>
        <div>
          <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :end_time, "活動結束時間", class: "font-bold"%>
          <div><%= event.datetime_field(:end_time, class: "border border-gray-400 rounded-lg w-5/6") %></div>
        </div>
      </div>
       <div class="event_num my-2">
        <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :tag, "活動類型", class: "font-bold"%>
        <div><%= event.select :tag, {:類型 => ["請選擇", "學習", "演出", "聯誼", "美食", "戶外"]}, class:"event_tag" %></div>
      </div>
      <div class="event_num my-2">
        <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :location, "活動地點", class: "font-bold"%>
        <div><%= event.text_field :location, class: "input rounded-lg w-5/6" %></div>
      </div>
      <div class="event_num my-2">
        <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :address, "活動地址", class: "font-bold"%>
        <div><%= event.text_field :address, class: "googlemap mb-2 border border-gray-400 rounded-lg w-5/6", placeholder: "請務必填寫完整地址，包含市、區、路等" %></div>
        <div class="w-5/6 h-6 rounded-lg" data-mapid="<%= ENV["map"] %>" data-maplat="<%= @event.latitude %>" data-maplon="<%= @event.longitude %>" id="map"></div> 
      </div>
      <div class="event_num my-2">
        <abbr title="required" class="text-red-500 text-lg">*</abbr><%= event.label :description, "活動描述", class: "font-bold"%>
        <div><%= event.text_area :description, class: "border border-gray-400 rounded-lg w-5/6", cols: 30, rows: 8 %></div>
      </div>

      <div class="button_area flex">
        <div class="p-3 rounded-lg border border-gray-400 hover:bg-red-700 hover:text-white"><%= link_to "上一步", events_organization_path(@organization.id) %></div>
        <div class="ml-5"><%= event.submit "前往下一頁設定票種", class: "p-3 border border-gray-400 rounded-lg bg-white hover:bg-red-700 hover:text-white cursor-pointer" %></div>
      </div>

    </div>

    <div class="upload_pic w-1/2">
      <div class="tip w-2/3 m-auto my-8">
        <h5 class="font-bold text-red-700">RTIX TIP:</h5>
        <p>英國研究顯示, 選擇亮眼的活動圖片, 將可提升報名人數達30%喔!信不信由你!</p>
      </div>
      <div class="org-image-group" data-controller="image">
        <div class="image-box">
          <% if @event.image? %> <%= image_tag(@event.image_url) %>
          <% else %>
          <img
            id="preview"
            class="image m-auto"
            src="/image/activity.png"
          >
          <% end %>
        </div>
        <div class="mt-8 flex justify-center">
          <label class="org-image-button">
            上傳圖片 <%= event.file_field :image, id: :org_image, class:"org-image-input", data: { action: "change->image#update" }%>
          </label>
        </div>
      </div>
    </div>


    <div class="org-image-group" data-controller="seats-image">
      <h5 class="text-center text-red-700 my-14 font-bold">座位圖</h5>
      <div class="image-box">
        <% if @event.seats_image? %> <%= image_tag(@event.seats_image_url, class:"seats-image") %>
        <% else %>
        <img
          id="seats-preview"
          class="image seats-image m-auto"
          src="/image/seats.png"
        >
        <% end %>
      </div>
      <div class="mt-8 flex justify-center">
        <label class="org-image-button">
          上傳圖片 <%= event.file_field :seats_image, id: :event_seats_image, class:"org-image-input", data: { action: "change->seats-image#update" }%>
        </label>
      </div>
    </div>

  </div>
  <% end %>
</div>