<%= render 'nav', user: @user%>
<div class="event_img">
  <img src="https://t.kfs.io/upload_images/127057/__2021____-kktix-1930-___-1200X630.jpg" alt="">
</div>
<div class="divide"></div>
<div class="event_information">
  <h1 class="event_information_title"><%= @event.title %></h1>
  <div class="event_information_column">
    <span class="event_column_title">開始時間</span>
    <span class="event_column_information">
    <% if @event.start_time != nil %>
    <%= @event.start_time %>
    <% else %>
    時間未定
    <% end %>
    </span>
  <div class="event_information_column">
  <div class="event_information_column">
    <span class="event_column_title">結束時間</span>
    <span class="event_column_information">
    <% if @event.end_time != nil %>
    <%= @event.end_time %>
    <% else %>
    時間未定
    <% end %>
    </span>
  <div class="event_information_column">
    <span class="event_column_title">活動地點</span>
    <span class="event_column_information"><%= @event.location %> / <%= @event.address %></span>
  </div>
  <div class="event_information_column">
    <span class="event_column_title">主辦單位</span>
    <span class="event_column_information"> <%= @event.organization.title %></span>
  </div>
  <div class="event_information_column"></div>
    <span class="event_column_title">票券種類</span>
    <span class="event_column_information">電子票卷</span>
  </div>
  <div class="event_information_column">
    <span class="event_column_title">付款方式</span>
    <span class="event_column_information">信用卡</span>
  </div>
  </div>
</div>
<%= render 'booking_status'%>
<section class="event_information">
  <div class="event_booking_area">
    <img src="https://t.kfs.io/upload_images/arena_images/1492/__-__.jpg" alt="" class="area_setting">
  </div>
  <%=render 'ticket_table', tickets: @tickets%>
</section>
</div>

<footer>
  <%= render 'foot', user: @user%>
</footer>
