<div class="event_img my-5">
  <% if @event.image? %> 
    <%= image_tag(@event.image.url) %> 
  <% else %>
    <img
      data-organizations-image-target="imagebox"
      id="preview"
      class="image m-auto"
      src="https://fakeimg.pl/320x320/"
    >
  <% end %>
</div>

<div class="divide"></div>

<div class="event_information">
  <h1 class="event_information_title"><%= @event.title %></h1>
  <div class="event_information_column flex">
  <div class="w-1/2">
  
  
    <span class="event_column_title">開始時間</span>
    <span class="event_column_information">
    <% if @event.start_time != nil %>
    <%= @event.start_time %>
    <% else %>
    時間未定
    <% end %>
    </span>
  <div class="event_information_column">
  <div class="event_information_column">
    <span class="event_column_title">結束時間</span>
    <span class="event_column_information">
    <% if @event.end_time != nil %>
    <%= @event.end_time %>
    <% else %>
    時間未定
    <% end %>
    </span>
  <div class="event_information_column ">
    <span class="event_column_title">活動地點</span>
    <span class="event_column_information"><%= @event.location %> / <%= @event.address %></span>
  </div>
  
  <div class="event_information_column">
    <span class="event_column_title">主辦單位</span>
    <span class="event_column_information"> <%= @event.organization.title %></span>
  </div>
  <div class="event_information_column"></div>
    <span class="event_column_title">票券種類</span>
    <span class="event_column_information">電子票卷</span>
  </div>
  <div class="event_information_column">
    <span class="event_column_title">付款方式</span>
    <span class="event_column_information">信用卡</span>
  </div>
  </div>
</div>
  <div class="w-1/2">
  <div class="" id="map"></div>
  </div>
</div> 
  <%= render 'booking_status'%>
  

<section class="event_information my-5">
  <div class="event_booking_area">
    <img src="https://t.kfs.io/upload_images/arena_images/1492/__-__.jpg" alt="" class="area_setting">
  </div>
  <%=render 'ticket_table', tickets: @tickets%>
</section>

</div>


<script>
      // var map;
      // function initMap() {
      //   map = new google.maps.Map(document.getElementById('map'), {
      //     center: {lat: 23.5948979, lng: 119.8960512},
      //     zoom: 8
      //   });
      // }

      var map;
      function initMap() {

        var taiwan = {lat: 23.5878365, lng: 121};
        map = new google.maps.Map(document.getElementById('map'), {
          center:  {lat: 25.0338041 , lng: 121.5623621},
          zoom: 15
        });
        var marker = new google.maps.Marker({
          position: {lat: 25.0338041 , lng: 121.5623621},
          map: map
        });
      }


  // document.querySelector('.googlemap').addEventListener('blur', (e)=>{
  //   console.log(e.target.value)
  // })

</script>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["map"] %>&callback=initMap"
    async defer></script>