<div class="container">
  <table id="table_id" class="display table table-striped table-hover">
    <thead>
      <tr>
        <th class="thead">活動年份</th>
        <th class="thead">活動月份</th>
        <th class="thead">活動名稱</th>
        <th class="thead">活動描述</th>
        <th class="thead">城市</th>
        <th class="thead">地點</th>
        <th class="thead">活動開始日期/時間</th>
        <th class="thead">活動結束日期/時間</th>
        <th class="thead">票券資訊</th>
        <th class="thead">聯繫主辦</th>
        <th class="thead">匯入</th>
      </tr>
    </thead>
    <tbody>
      <% @tickets.each do |ticket| %>
      <tr>
        <td class="ftext year"><%= ticket.event.s_year %></td>
        <td class="ftext month"><%= ticket.event.s_month %></td>        
        <td class="eventname event"><%= ticket.event.title %></td>
        <td class="mtext descrp"><%= ticket.event.description %></td>
        <td class="mtext city"><%= ticket.event.city %></td>
        <td class="mtext"><%= ticket.event.location %></td>
        <td class="mtext"><span class="smonth"><%= ticket.event.s_month%></span>/<span class="sdate"><%= ticket.event.s_date%></span> @ <span class="stime"><%= ticket.event.s_time%></span></td>
        <td class="mtext"><span class="emonth"><%= ticket.event.e_month%></span>/<span class="edate"><%= ticket.event.e_date%></span> @ <span class="etime"><%= ticket.event.e_time%></span></td>
        <td><%= link_to "#{ticket.amount}張", dashboard_path(ticket.id), class: "linkto" %></td>
        <td><%= link_to "#{ticket.event.organization.title}", new_contact_path, class: "linkto" %></td>
        <td><a href="" class="calendar" data-action="click->myorder#import">Google Calendar</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>