<div>
  <table id="table_id" class="display">
    <thead>
      <tr>
        <th class="thead">訂單</th>
        <th class="thead">付款</th>
        <th class="thead">活動</th>
        <th class="thead">地點</th>
        <th class="thead">開始</th>
        <th class="thead">結束</th>
        <th class="thead">聯繫主辦</th>
        <th class="thead">票券</th>
        <th class="thead">匯入</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <% seats = order.seats %>
        <% events= seats.map{|seat| seat.ticket.event }.uniq %>
        <% event = events[0] %>
      <tr>
        <td class="ftext numbers"><%= link_to order.serial, dashboard_path(order.id), class: "linkto" %></td>
        <td class="ftext pay"><%= order.status %></td>       
        <td class="eventname event"><%= event.title %></td>
        <td class="mtext location"><%= event.location %></td>
        <td class="mtext text-xs start"><%= event.start_time %></td>
        <td class="mtext text-xs end"><%= event.end_time %></td>
        <td class="text-center text-xs"><%= link_to "#{event.organization.title}", contact_dashboard_path(event.id), class: "linkto" %></td>
        <td><%= "#{order.seats.count}張" %></td>
        <td class="text-center text-xs"><a href="" class="calendar" data-action="click->myorder#import">Google Calendar</a></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>