<p><%= @user.name %>針對您所創建的活動: <%= @event.title %>傳送下面訊息給您: </p>

<h2><%= @contact.title %></h2>
<p><%= @contact.feedback %></p>


<br>
<br>
<p>建議您於三日內, 盡快回覆. 您可透過以下email聯繫：<%= @contact.email %></p>





