<div class="row"
     data-controller="booking-channel">
  <% seats.each do |seat| %>
          <div
              class="seat
              <%= 'owner' if current_user.cart.seats.ids.include?(seat.id)%>
              <%= 'selected' if seat.selected? %>
              <%= 'sold' if seat.sold? %>
              "
              data-seat-id="<%= seat.id%>"
              data-booking-id="<%= seat.ticket.id%>"
              data-controller="booking-seat"
              data-action ="click->booking-seat#addLineItem mouseenter->booking-seat#showInformation mouseleave->booking-seat#closeInformation"
          >
            <div class="seat_information">
                <%= seat.area%><%=seat.id%>號<br>
                價格：$<%= seat.ticket.price%>
                <div class="information_triangle">
                    <div class="inner_triangle"></div>
                </div>
            </div>
          </div>
  <% end %>
</div>