<%= render 'navbar', ticket_count: @seats_count, previous_path: event_path(params[:event_id])%>
<%= render 'cart', seat: @seat, price: @total_price%>
<%= render 'popup', seats: @seat%>
<%= render 'events/booking_status'%>
<div class="cutting_line"></div>
<div class="stage">STAGE</div>
<div class="area_column">
<% @tickets.each do |ticket|%>
  <%= link_to event_booking_path(params[:event_id], ticket.id) do%>
    <div class="area"><%=ticket.name%></div>
  <% end %>
<% end %>
</div>