<%= render 'navbar', ticket_count: @seats_count, previous_path: event_path(params[:event_id])%>
<%= render 'cart', seat: @seat, price: @total_price%>
<%= render 'popup', seats: @seat%>
<%= render 'events/booking_status'%>
<div class="cutting_line"></div>
<div class="m-auto max-w-4xl <%= 'hidden' if @event.id != 1%>">
<img src="https://t.kfs.io/upload_images/arena_images/1492/__-__.jpg" usemap="#booking_map" class="m-auto">
</div>
<map name="booking_map">
  <area shape="poly" coords="69,204,31,257,58,278,77,287,93,295,128,234,103,223,103,223" href="booking/6" alt="2A">
  <area shape="poly" coords="137,239,100,299,136,312,164,321,184,251,184,251" href="booking/7" alt="2B">
  <area shape="poly" coords="195,253,173,321,215,329,242,332,243,258,243,258" href="booking/8" alt="2C">
  <area shape="poly" coords="254,260,252,332,336,332,330,260,330,260" href="booking/9" alt="2D">
  <area shape="poly" coords="342,259,345,333,413,322,389,252,389,252" href="booking/10" alt="2E">
  <area shape="poly" coords="402,251,422,320,486,299,450,237,450,237" href="booking/11" alt="2F">
  <area shape="poly" coords="459,234,494,295,524,279,544,266,556,256,516,204,500,214,492,219,492,219" href="booking/12" alt="2G">
  <area shape="poly" coords="60,321,32,357,49,385,81,416,128,351,128,351" href="booking/13" alt="3A">
  <area shape="poly" coords="141,355,93,422,115,439,136,451,158,460,193,369,193,369" href="booking/14" alt="3B">
  <area shape="poly" coords="207,373,173,463,218,475,239,480,245,379,245,379" href="booking/15" alt="3C">
  <area shape="poly" coords="260,381,253,480,283,484,296,484,315,484,335,482,327,379,327,379" href="booking/16" alt="3D">
  <area shape="poly" coords="341,379,348,481,416,463,380,372,380,372" href="booking/17" alt="3E">
  <area shape="poly" coords="394,371,428,458,465,443,497,424,445,356,445,356" href="booking/18" alt="3F">
  <area shape="poly" coords="459,351,507,414,535,388,551,366,556,358,526,319,526,319" href="booking/19" alt="3G">
  <area shape="poly" coords="163,154,136,155,134,155,132,155,130,156,127,158,125,160,124,161,122,163,120,166,86,192,104,204,117,210,133,217,148,221,164,222,164,222" href="booking/1" alt="1A">
  <area shape="poly" coords="176,155,176,222,245,222,245,154,245,154" href="booking/2" alt="1B">
  <area shape="poly" coords="260,155,260,222,329,222,329,154,330,154" href="booking/3" alt="1C">
  <area shape="poly" coords="345,155,345,223,415,223,414,154,414,154" href="booking/4" alt="1D">
  <area shape="poly" coords="425,154,425,223,442,221,457,217,473,210,491,200,501,192,467,166,466,163,461,159,457,156,454,154,454,154" href="booking/5" alt="1E">
</map>

<div class="<%= 'hidden' if @event.id === 1%>">
  <div class="stage">STAGE</div>
  <div class="area_column">
  <% @tickets.each do |ticket|%>
    <%= link_to event_booking_path(params[:event_id], ticket.id) do%>
      <div class="area"><%=ticket.name%> | $<%= ticket.price%></div>
    <% end %>
  <% end %>
  </div>
</div>