<div class="container">
  <table id="table_id" class="display">
    <thead>
      <tr>
        <th class="thead">活動年份</th>
        <th class="thead">活動月份</th>
        <th class="thead">活動名稱</th>
        <th class="thead">活動描述</th>
        <th class="thead">城市</th>
        <th class="thead">地點</th>
        <th class="thead">活動開始日期/時間</th>
        <th class="thead">活動結束日期/時間</th>
      </tr>
    </thead>
    <tbody>
      <% @hosts.each do |host| %>
        <% host.events.each do |event| %>
      <tr>
        <td class="ftext year"><%= event.s_year %></td>
        <td class="ftext month"><%= event.s_month %></td>        
        <td class="eventname event"><%= event.title %></td>
        <td class="mtext descrp"><%= event.description %></td>
        <td class="mtext city"><%= event.city %></td>
        <td class="mtext"><%= event.location %></td>
        <td class="mtext"><span class="smonth"><%= event.s_month%></span>/<span class="sdate"><%= event.s_date%></span> @ <span class="stime"><%= event.s_time%></span></td>
        <td class="mtext"><span class="emonth"><%= event.e_month%></span>/<span class="edate"><%= event.e_date%></span> @ <span class="etime"><%= event.e_time%></span></td>
      </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>