<div class="container">
  <table id="table_id" class="display">
    <thead>
      <tr>
        <th class="thead">活動名稱</th>
        <th class="thead">活動描述</th>
        <th class="thead">地點</th>
        <th class="thead">活動開始</th>
        <th class="thead">活動結束</th>
      </tr>
    </thead>
    <tbody>
      <% @host_events.each do |host| %>
      <tr>  
        <td class="eventname event"><%= host.title %></td>
        <td class="mtext descrp"><%= host.description %></td>
        <td class="mtext"><%= host.location %></td>
        <td class="mtext"><%= host.start_time %></td>
        <td class="mtext"><%= host.end_time %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>