<div class="wrapper w-full">
    <%= notice %>
    <div class="myorder mt-20" data-controller="myorder">
        <div class="sub-page w-10/12 m-auto flex border-b-2 border-grey-500">
            <div class="ticketview font-mono p-4 hover:bg-red-100 cursor-pointer" data-action="click->myorder#showticket mouseover->myorder#tickethover" data-myorder-target="ticket">票券總覽</div>
            <div class="hostview font-mono p-4 hover:bg-red-100 cursor-pointer" data-action="click->myorder#showhost mouseover->myorder#hosthover" data-myorder-target="host">舉辦活動總覽</div>
        </div>
        <div data-myorder-target="content">
            <h2 class="mt-5 w-10/12 m-auto font-mono text-4xl pl-4">我的票券</h2>
            <div><%= render "tickets/ticket" %></div>
        </div>


        <div class="clearfix" style="clear:both;"></div>
        <div class="recommended">
            <h2 class="mt-5 w-10/12 m-auto font-mono text-4xl border-b-2 border-grey-500">精選活動</h2>
            <!-- FIXME: The scrollbar should be horizontal. -->
            <div class="scroll overflow-x-scroll h-96">
            <!-- FIXME: link_to in Hotwire behaves weirdly. -->
                <%= turbo_stream_from "events" %>
                <%= turbo_frame_tag "events" do %>
                    <%= render @events %>
                <% end %>
            </div>
        </div>

    </div>
</div>





<template id="ticketview">
        <h2 class="mt-5 w-10/12 m-auto font-mono text-4xl pl-4">我的票券</h2>
        <div><%= render "tickets/ticket" %></div>
</template>


<template id="hostview">
    <h2 class="mt-5 w-10/12 m-auto font-mono text-4xl pl-4">舉辦的活動</h2>
    <div><%= render "dashboards/host" %></div>
</template>