<div class="my-10">

    <%= link_to '返回上一頁', dashboards_path, class: "w-24 my-5 border-2 border-grey-500 mx-2 block text-center font-mono hover:bg-pink-200 hover:text-white rounded" %> 

    <div class="errors my-10 m-auto">
        <ul>
            <% if @contact.errors %>
            <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
            <% end %> 
    </div>
    <h1 class="text-4xl font-bold text-center">聯繫主辦單位<br><%=@event.organization.title %></h1>

    <div class="contactform mt-10 mb-16">
        <div class="w-4/6 m-auto border-2 border-gray-100 rounded-lg bg-gray-50">
            <%= form_for(@contact, url: contact_dashboard_path(@event.id))  do |form| %>
                <%= form.hidden_field :user_id, value: @user.id %>
            <div class="mt-5 w-9/12 m-auto">
                <%= form.label :name, "姓名:" ,class: 'font-mono font-bold text-lg' %> 
                <%= form.text_field :name, value: @user.name, :readonly => true, class: 'w-full italic mt-3 bg-gray-50' %>
            </div>
            <div class="mt-5 w-9/12 m-auto">
                <%= form.label :email, "您的電子信箱:" ,class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :email, value: @user.email, :readonly => true, class: 'w-full italic mt-3 bg-gray-50' %>
            </div>
            <div class="mt-5 w-9/12 m-auto">
                <%= form.label :tel, "電話:" ,class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :tel, value: @user.tel, :readonly => true, class: 'w-full italic mt-3 bg-gray-50' %>
            </div>
            <div class="mt-5 w-9/12 m-auto">
                <%= form.label :event, "活動名稱:", class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :event, value: @event.title, :readonly => true, class: 'w-full italic mt-3 bg-gray-50' %>
            </div>
            <div class="mt-5 w-9/12 m-auto">
                <%= form.label :title, "主旨:" ,class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :title, class: 'rounded border-2 border-gray-100 w-full mt-3' %>
            </div>
            <div class="mt-5 w-9/12 m-auto">
                <%= form.label :feedback, "意見反饋:" ,class: 'font-mono font-bold text-lg ' %>
                <br>
                <%= form.text_area :feedback, class: 'rounded border-2 border-gray-100 w-full h-48' %>
                <%= form.submit "送出", class: "px-2 py-1 bg-gray-200 hover:bg-pink-200 my-3" %>
                <% end %>
            </div>

        </div>
    </div>

</div>
