<div class="my-10">

    <%= link_to '返回上一頁', dashboards_path, class: "w-24 my-5 border-2 border-grey-500 mx-2 hover:bg-gray-100 block text-center font-mono" %> 

    <div class="my-10 m-auto">
        <ul>
            <% if @contact.errors %>
            <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
            <% end %> 
    </div>

    <div class="my-10">
        <h1 class="text-4xl font-bold text-center">聯絡主辦單位：<%=@event.organization.title %></h1>
        <div class="w-3/6 m-auto">
            <%= form_for(@contact, url: contact_dashboard_path(@event.id))  do |form| %>
            <div>
                <%= form.label :name, "姓名" ,class: 'font-mono' %>
                <br>
                <%= form.text_field :name, class: 'rounded border-2 border-gray-100 w-full' %>
            </div>
            <div>
                <%= form.label :email, "電子信箱" ,class: 'font-mono' %>
                <br>
                <%= form.text_field :email, class: 'rounded border-2 border-gray-100 w-full' %>
            </div>
            <div>
                <%= form.label :tel, "電話" ,class: 'font-mono' %>
                <br>
                <%= form.text_field :tel, class: 'rounded border-2 border-gray-100 w-full' %>
            </div>
            <div>
                <%= form.label :event, "活動名稱" ,class: 'font-mono' %>
                <br>
                <%= form.text_field :event, class: 'rounded border-2 border-gray-100 w-full' %>
            </div>
            <div>
                <%= form.label :title, "主旨" ,class: 'font-mono' %>
                <br>
                <%= form.text_field :title, class: 'rounded border-2 border-gray-100 w-full' %>
            </div>
            <div>
                <%= form.label :feedback, "意見反饋" ,class: 'font-mono' %>
                <br>
                <%= form.text_area :feedback, class: 'rounded border-2 border-gray-100 w-full h-48' %>
            </div>
                <%= form.submit "送出", class: "px-2 py-1 bg-gray-200 hover:bg-gray-300" %>
            <% end %>
        </div>
    </div>

</div>
