<div class="contact_wrapper">

    <div class="w-4/6 m-auto"><%= link_to '返回上一頁', dashboards_path, class: "contact_backlink" %></div> 


    <h1 class="contact_heading">聯繫主辦單位<br><%=@event.organization.title %></h1>
    <div class="contact_form">
            <%= form_for(@contact, url: contact_dashboard_path(@event.id))  do |form| %>
        <div class="pl-20 md:pl-0">
            <div class="contact_field">
                <%= form.label :name, "您的大名:" ,class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :name, value: @user.name, :readonly => true, class: 'contact_textfield'%>
            </div>
            <div class="contact_field">
                <%= form.label :email, "您的電子信箱:" ,class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :email, value: @user.email, :readonly => true, class: 'contact_textfield' %>
            </div>
            <div class="contact_field">
                <%= form.label :tel, "您的電話:" ,class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :tel, value: @user.tel, :readonly => true, class: 'contact_textfield' %>
            </div>
            <div class="contact_field">
                <%= form.label :event, "活動名稱:", class: 'font-mono font-bold text-lg' %>
                <%= form.text_field :event, value: @event.title, :readonly => true, class: 'contact_textfield'%>
            </div>
        </div>
        <div class="contact_title">
            <%= form.label :title, "主旨:" ,class: 'font-mono font-bold text-lg' %>
            <%= form.text_field :title, class: 'contact_title_textfield' %>
        </div>
        <div class="contact_feedback">
            <%= form.label :feedback, "意見反饋:" ,class: 'font-mono font-bold text-lg'%>
            <br>
            <%= form.text_area :feedback, class: 'rounded border-2 border-gray-100 w-full h-48  shadow-md' %>
            <%= form.submit "送出", class: "contact_submit_btn" %>
            <% end %>
        </div>
    </div>
</div>
