<div class="wrapper">

    <h1  class="my-20 text-center align-middle text-6xl p-44 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 text-white"><%= @this_event.title %></h1>
    <div class="w-3/4 m-auto"><%= link_to '返回上一頁', dashboards_path, class: "font-mono shadow-md font-bold p-4 rounded-xl bg-gradient-to-r from-gray-50 to-gray-100 hover:from-pink-500 hover:to-yellow-500 hover:from-pink-500 hover:to-yellow-500 hover:text-white cursor-pointer" %></div>


    <h1 class="text-4xl font-bold my-5 text-center">訂單資訊</h3>
    <div class="w-3/4 m-auto my-10 border-2 shadow-md">
        <div class="w-1/3 m-auto ">
            <h5 class="my-3"><span class="font-bold">訂票人姓名:</span> <%= @user.name %></h5>
            <h5 class="my-3"><span class="font-bold">訂票人電子郵件:</span> <%= @user.email %></h5>
            <h5 class="my-3"><span class="font-bold">訂票人聯繫電話:</span> <%= @user.tel %></h5>
            <h5 class="my-3"><span class="font-bold">票券總張數:</span> <%= @this_event.tickets.count %>張票</h5>
            <h5 class="my-3"><span class="font-bold">票券總價:</span> $<%= @this_event.tickets.sum(:price)%> NTD</h5>
        </div>
    </div>
    <h1 class="text-4xl font-bold my-5 text-center">票券資訊</h3>

    <div class="ticketinfo w-3/4 m-auto my-10 shadow-xl border-2">
        <% @this_event.tickets.each do |ticket| %>
        <div class="mx-14 flex my-5  align-middle">
            <h5 class="mt-16 w-1/2 align-middle text-center text-lg"><span class="font-bold">票券所屬</span>：<%= ticket.name %> <br><br><br> <span class="font-bold">票價：</span>$<%= ticket.price %></h5>
            <div class="qrcode"><%= qr_gen(ticket.event, ticket.name) %></div>
        </div>
        <% end %>
    </div>
    
    
    


</div>