<div class="wrapper">

    <h1  class="my-20 text-center align-middle text-6xl p-44 bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 text-white"><%= @user_event.title %></h1>
    <%= link_to '返回上一頁', dashboards_path, class: "w-24 my-5 border-2 border-grey-500 mx-2 hover:bg-gray-100 block text-center font-mono" %>


    <h1 class="text-4xl font-bold my-5 text-center">訂單資訊</h3>
    <div class="w-3/4 m-auto orderinfo my-10  border-2 border-gray-100">
        <div>
            <h5 class="my-3">訂票人資訊: <%= @user_event.tickets.count %>張票</h5>
            <h5 class="my-3">訂票人姓名: <%= @user.name %></h5>
            <h5 class="my-3">訂票人電子郵件: <%= @user.email %></h5>
            <h5 class="my-3">訂票人聯繫電話: <%= @user.tel %></h5>
            <h5 class="my-3">票券總張數: <%= @user_event.tickets.count %>張票</h5>
            <h5 class="my-3">票券總價: $<%= @user_event.tickets.sum(:price)%> NTD</h5>
        </div>
    </div>
    <h1 class="text-4xl font-bold my-5 text-center">票券資訊</h3>

    <div class="ticketinfo w-3/4 m-auto border-2 border-gray-100">
        <% @user_event.tickets.each do |ticket| %>
        <div class="mx-14 flex my-5">
            <h5 class="mr-10 w-1/2 align-middle text-center">票券所屬：<%= ticket.name %> <br><br><br> 票價：$<%= ticket.price %></h5>
            <div class="qrcode w-1/2"><%= qr_gen(ticket.event, ticket.name) %></div>
        </div>
        <% end %>
    </div>
    
    
    


</div>