<div class="ticket_wrapper" data-controller="myticket">
    <h1  class="ticket_event"><%= @event.title %></h1>
    <div id="flash_message" style="display:none;"><%= notice %></div>
    <div class="ticket_backlink_container"><%= link_to '返回上一頁', dashboards_path, class: "ticket_backlink" %></div>

    <div class="ticket_order_container">
        <h2 class="ticket_subhead">訂單資訊</h2>
        <div class="flex m-auto my-5">
            <div class="w-1/2 m-auto lg:pl-48 my-5">
                <h5 class="sm:my-3"><span class="font-bold">訂單編號:</span> <%= @order.serial %></h5>
                <h5 class="sm:my-3"><span class="font-bold">訂票人姓名:</span> <%= @order.user.name %></h5>
                <h5 class="sm:my-3"><span class="font-bold">訂票人電子郵件:</span> <%= @order.user.email %></h5>
                <h5 class="sm:my-3"><span class="font-bold">訂票人聯繫電話:</span> <%= @order.user.tel %></h5>
                <h5 class="sm:my-3"><span class="font-bold">票券總張數:</span> <%= @order.seats.count %>張票</h5>
                <h5 class="sm:my-3"><span class="font-bold">票券總價:</span> $<%= @order.seats.includes(:ticket).sum(:price)%> NTD</h5>
            </div>
            <% if @order.status == "paid" %>
            <div class="w-1/2 my-5">
                <img src="<%= asset_path( 'paid.png' ) %>" class="w-48 sm:w-60 h-48 sm:h-60">
            </div>
            <% else %>
            <div class="w-1/2 my-5">
                <img src="<%= asset_path( 'pending.png' ) %>" class="sm:w-72 sm:h-60">
            </div>
            <% end %>
        </div>
    </div>

    <div class="ticket_info_container">
        <h2 class="ticket_subhead">票券資訊</h2>
        <div class="ticket_section">
            <% @seats.each do |seat| %>
            <div class="ticket_name items-center">
                <div class="flex flex-col justify-center my-5 text-left bg-gray-50 p-7 text-sm md:text-sm lg:text-base md:h-2/5 lg:h-3/5 rounded-lg shadow-md">
                    <h5><span class="font-bold">票價：</span>$<%= seat.ticket.price %></h5><br>
                    <h5><span class="font-bold">票種：</span><%= seat.ticket.name %></h5><br>
                    <h5><span class="font-bold">座位區域：</span><%= seat.area %></h5><br>
                    <h5><span class="font-bold">座位編號：</span><%= seat.id %></h5>
                </div>
                <% if seat.orders.first.status == "pending" %>
                
                <p class="text-left font-bold text-red-700 box-border p-16 ">您的訂單尚未付款喔, 請於訂單成立後30分鐘內儘速付款, 方才顯示入場QRCode. 謝謝!若有任何疑問, 請洽RTIX客服人員. 謝謝!</p>

                <% else %>
                
                
                <div><%= image_tag "https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl=https://rtix.site/checkin/#{u(seat.check_in.first.id)}&choe=UTF-8", class:"shadow-md rounded-lg"%></div>
                <div class="mt-5 mb-10"><%= link_to "寄送票券", dashboard_mailing_path(@order.id, seat.id), class:"font-mono font-bold p-5 rounded-xl bg-gray-100 hover:bg-red-700 hover:text-white cursor-pointer shadow-md text-sm md:text-sm lg:text-base" %> </div>

                <% end %>
            </div>
            <% end %>
        </div>
    </div>
</div>