<%= form_for(@organization) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="org-field-group">
    <%= form.label :組織名稱： %>
    <%= form.text_field :title, placeholder: '請輸入名稱', class: "org-field" %>
  </div>

  <div class="org-field-group">
    <%= form.label :組織網址： %>
    <%= form.text_field :domain_name, class: "org-field" %>
  </div>

  <div class="org-field-group">
    <%= form.label :組織簡介： %>
    <br>
    <%= form.text_area :description, placeholder: '介紹一下組織' %>
  </div>

  <div class="img h-80 w-80">
    <img id="preview" class="h-80 m-auto" src="https://fakeimg.pl/320x320/">
  </div>

  <div class="org-field-group">
    <%= form.label :上傳圖片 %>
    <br>
    <%= form.file_field :image, id: :org_image, class: "org-field" %>
</div> 


  <div class="button">
    <%= form.submit %>
  </div>
<% end %>


<script>
  // 監聽圖片是否傳上來
  const imageUpload = document.querySelector('#org_image')
  imageUpload.addEventListener('change', (e) => {
    const image = e.target.files[0]
    readUrl(image)
  })
  // 取得圖片資訊
  function readUrl(input){
    const reader = new FileReader()
    reader.readAsDataURL(input)
    reader.onload = (e) => {
      // 將圖片塞到 <img> 
      document.querySelector('#preview').src = e.target.result
    }
  }
</script>