<p id="notice"><%= notice %></p>

<h1>擁有的組織</h1>

<table>
  <thead>
    <tr>
      <th>組織名稱</th>
      <th>擁有者</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.title, organization %></td>
        <td><%= organization.user_id %></td>
        <td><%= link_to '編輯', edit_organization_path(organization) %></td>
        <td><%= link_to '刪除', organization, method: :delete, data: { confirm: '確定要刪除組織嗎？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '建立組織', new_organization_path %>
