<div class="wrapper w-full">
  <div class="flex">
    <!-- TODO: FLEX1 -->
    <%= render 'sidebar' %>    
    <!-- TODO: FLEX1 end -->


    <!-- TODO: FLEX2 -->
    <div class="org-info w-full">
      <div class="w-full text-xl mb-4 text-center md:text-left mt-5 text-gray-500 border-b border-gray-400 px-4">
          組織名稱 <span class="inline-block ml-3 text-3xl text-red-600"><%= @organization.title %></span>
      </div>
      <div class="p-3">
        <div class="flex">
          <!-- <div id="notice"><%= notice %></div>  不確定這個是要放哪裡 可之後再自行調整出現位置 先comment掉 -->
          <div class="orginfo w-1/2 p-8 border-gray-100 border-2 shadow-lg">
            <div class="mb-3">
              <h5 class="show-title font-bold mb-3">描述</h5>
              <p> <%= @organization.description %> </p>
            </div>
            <div class="mb-3">
              <h5 class="show-title font-bold mb-3">RTIX URL</h5>
              <%= link_to "https://rtix.site/organizations/#{@organization.domain_name}",
                          "/organizations/#{params[:id]}",
                          class:"url" %>
            </div>
            <div class="mb-3">
              <h5 class="show-title font-bold mb-3">網站</h5>
              <a href="<%= @organization.web %>" class="url"><%= @organization.web %></a>
            </div>
            <div class="mb-3">
              <h5 class="show-title font-bold mb-3">Facebook 粉絲專頁</h5>
              <a href="<%= @organization.facebook %>" class="url"><%= @organization.facebook %></a>
            </div>
            <div class="mb-3">
              <h5 class="show-title font-bold mb-3">Twitter 帳號</h5>
              <a href="<%= @organization.twitter %>" class="url"><%= @organization.twitter %></a>
            </div>
            <div class="mb-3">
              <h5 class="show-title font-bold mb-3">Flickr 相簿網址</h5>
              <a href="<%= @organization.flickr %>" class="url"><%= @organization.flickr %></a>
            </div>
            <div class="mb-3">
              <h5 class="show-title font-bold">回覆 E-mail</h5>
              <p><%= @organization.e_mail %></p>
            </div>
            <div>
              <%= link_to '編輯', edit_organization_path(@organization), class: "org-edit-button" %>
            </div>
          </div>

          <div class="orgpic w-1/2 text-center">
            <h5 class="show-title font-bold mb-5">組織圖像</h5>
            <%= image_tag(@organization.image.org.url, class:"image") if @organization.image? %> 
            <h5 class="font-bold mb-3 w-2/3 m-auto py-3 border-b-2 border-gray-400">進階設定</h5>
            <p class="font-mono"><span class="font-bold">預設時區:</span> Taipei GMT +08:00 </p>
          </div>
        </div>
      </div>
    </div>
    <!-- TODO: FLEX2 end -->

  </div>
</div>