<div id="notice"><%= notice %></div>

<div>
  <div>組織名稱：</div>
  <%= @organization.title %>
</div>

<div>
  <div>組織簡介：</div>
  <div><%= @organization.descraption %></div>
</div>

<div>
  <div>(暫時)User:</div>
  <%= @organization.user_id %>
</div>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
