<div id="notice"><%= notice %></div>

<div>
  <div>組織名稱：<%= @organization.title %></div>
</div>
<br>
<div>
  <div>組織簡介：</div>
  <div><%= @organization.description %></div>
</div>
  <br>
<div>
  <div>擁有者(暫時顯示):</div>
  <%= @organization.user_id %>
</div>

<%= link_to '編輯', edit_organization_path(@organization) %> |
<%= link_to '上一頁', organizations_path %>
