<div class="header bg-gradient-to-r from-red-500 via-red-600 to-red-700 text-base font-mono flex justify-between text-white">
    <div class="left flex justify-between ml-40">
        <div class="logo p-3"><a href="">RTIX</a></div>
        <div class="myticket"><%=link_to "我的票券", dashboards_path, class: "block font-mono p-3 hover:text-red-100" %></div>
        <div class="explore"><a href="" class="block font-mono p-3 hover:text-red-100">探索活動</a></div>
        <div class="search"><a href="" class="block font-mono p-3 hover:text-red-100">搜尋活動</a></div>
    </div>
    <div class="right flex justify-between mr-40">
        <div class="create"><a href="" class="block font-mono p-3 hover:text-red-100">建立活動</a></div>
        <div class="org"><a href="" class="block font-mono p-3 hover:text-red-100">選擇組織</a></div>
        <div class="account"><a href="" class="block font-mono p-3 hover:text-red-100">建立帳號</a></div>
    </div>
</div>
<%= notice %>
<h1 class="text-5xl font-mono text-center font-bold m-10">入場憑證</h1>
<p class="text-3xl font-mono text-bold m-10 text-center">入場時, 請出示此憑證予現場人員, 謝謝!</p>
<p class="w-5/6 font-mono m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ad distinctio nihil eius quae quod minima molestias consequuntur rerum, vitae itaque, doloremque suscipit cum quos sit est hic aliquam Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci cupiditate natus tempora a? Dolor suscipit vitae tenetur delectus alias dolore rem molestiae architecto doloremque quod nostrum ea cumque doloribus mollitia magnam, explicabo labore repellendus esse in nemo? Pariatur nihil doloribus minus alias! Labore, itaque! Earum harum dicta expedita ab sed!</p>

<h2 class="text-2xl text-center m-5">Hi <%=session[:name] %>, 歡迎您的到來!</h2>
<h3 class="text-2xl text-center m-5"><%= session[:event] %> 有您的參與, 蓬蓽生輝 ! </h3>
<br>
<div class="w-1/6 m-auto"><%= qr_gen(session[:name],session[:email], session[:event]) %></div> 

<div class="footer mt-20 m-auto font-mono bg-gray-600 p-8">
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ex assumenda optio itaque nobis earum dolor, debitis non odio atque voluptates dolorum, maxime perferendis cum dolore quibusdam ratione tempore impedit!</p>
</div>