<%=@seat.id%>
<%=@seat.area%>
<%=@seat.ticket.price%>
<%=@seat.ticket.name%>
<%=@seat.ticket.event.title%>
<%=@seat.orders.last.receiver%>
<%=@seat.orders.last.tel%>
<%= link_to checkin_index_path do%>
  <div>123</div>
<% end %>