<header x-data="{ mobileMenuOpen : false}" class="flex flex-wrap flex-row justify-between md:items-center md:space-x-4 bg-red-700 py-2 relative w-full">
  <div class="max-w-5xl m-auto flex w-full">
    <div class="flex-1 flex justify-between items-center text-3xl  duration-500">
        <%= link_to root_path do %>
        <div class="hover:text-white transition-colors">
        RTIX
         <i class="fas fa-ticket-alt"></i>
        </div>
        <% end %>
        <% if current_user%>
        <div class="mx-4 text-sm mr-auto hover:text-white">
        <%= link_to "我的票卷", dashboards_path(current_user.id) %> 
        </div>
        <% else %>
        <div class="mx-4 text-sm mr-auto hover:text-white">
        <%= link_to('我的票卷', new_session_path(:user) ) %>
        </div>
        <% end %>
    </div>
    <div @click="mobileMenuOpen = !mobileMenuOpen" class="inline-block md:hidden w-8 h-8 bg-red-700 text-black p-1">
      <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </div>
    <div class="absolute md:relative top-12 left-0 md:top-0 z-20 md:flex flex-col md:flex-row md:space-x-6 font-semibold w-full md:w-auto bg-red-700 shadow-md rounded-lg md:rounded-none md:shadow-none md:bg-transparent p-6 pt-0 md:p-0"
    :class="{ 'flex' : mobileMenuOpen , 'hidden' : !mobileMenuOpen}"  @click.away="mobileMenuOpen = false"
    > 
    <%= form_with url:search_events_path, local: true, method: :get, html: { class:'search_bar' } do |form|%>
      <%= form.text_field :q, data: { behavior: "autocomplete" }, class: "search_input"%>
      <%= form.button '', class: "search_button" do%>
        <i class="fas fa-search text-2xl"></i>
      <% end %>
    <% end %>
      <div>
        <ul class="flex h-full items-center justify-center md:justify-between text-base text-white mx-3 ">
          <li>
          <div class="mx-3">
          <% if current_user %>
          <%= current_user.email %>
          <%= link_to '登出', destroy_user_session_path, data:{method: 'delete'}, class:"user-signout" %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
          </div>
          </li>

            <% if current_user.organizations.count == 0 %>
            <li><%= link_to '建立活動', new_organization_path, data: { confirm: '請先建立組織，才能創辦活動' } %></li>
            <% else %>
            <li data-controller="header">
              <div class="org_choice_button font-bold cursor-pointer" id="org_choice_button">選擇組織</div>
              <div class="org_dropdown_list" id="org_dropdown_list">
                <% current_user.organizations.each do |organization|%>
                  <div class="bg-gray-100 px-1 rounded-lg text-center mb-1.5"><%= link_to "#{organization.title}", events_organization_path(organization.id), class: "text-black text-xs hover:bg-gray-900 hover:text-white font-bold rounded-lg px-2"%></div>
                <% end %>
              </div>
            </li>

            <% end %>
        <% else %>
          <li><%= link_to('註冊', new_registration_path(:user), class: "lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-white mx-3 md:mx-0") %></li>
          <li><%= link_to('登入', new_session_path(:user), class: "lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-white mx-3 md:mx-0") %></li>
          <% end %>
          </ul>
        </div>
  </div>
  </div>
</header>